/* ------ BARRE ROSE ------ */
header {
background: #ff0055;
padding: 0.35rem 2rem; /* <-- réduit la marge verticale */
line-height: 1; /* évite tout surplus */
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
height: 100%; /* prend toute la hauteur du header */
}

/* ------ LOGO ------ */
.logo {
height: 100%; /* = hauteur de la barre rose */
width: auto;
display: block;
}



